<section
  id="hero"
  class="my-24"
>
  <div class="flex max-w-3xl border-2 border-pink-400 rounded-xl overflow-hidde mx-8">
    <img
      loading="eager"
      decoding="sync"
      src="capture.png"
      alt="hero-img"
      class="block size-full object-contain lg:h-[477px] lg:w-[764px]"
    />
  </div>
</section>
