<section
  id="hero"
  class="mt-20"
>
  <div class="flex max-w-3xl border-2 border-pink-400 rounded-xl overflow-hidden">
    <img
      src="capture.png"
      alt="hero-img"
      class="block size-full object-contain"
    />
  </div>
</section>
