---
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="https://pega-hunt.vercel.app" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative w-screen">
    <div
      class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
    >
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_800px_at_100%_200px,#d5c5ff,transparent)]"
      >
      </div>
    </div>
    <main
      class="animate-fade-in-up w-screen h-screen overflow-y-auto flex flex-col items-center mx-auto px-8 py-12 md:py-16 lg:px-10"
    >
      <slot />
      <Footer />
      <a
        class="invisible md:visible border rounded-full py-1 px-4 absolute top-4 right-4 text-xs bg-pink-500/90 text-white font-medium hover:scale-105 transition-transform"
        rel="noopener noreferrer"
        target="_blank"
        href="https://github.com/felipetodev/alternify"
      >
        GitHub ✨
      </a>
    </main>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    overflow-x: hidden;
    height: 100%;
  }
</style>
