---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Cards from "@/components/Cards.astro"
---

<Layout
	title="Alternify"
	description="Find Alternatives to your Spotify Tracks"
>
	<div class="flex flex-col text-center gap-4 mb-4 mt-10">
		<h1 class="text-4xl">Alternify 🎵</h1>
		<h2 class="opacity-60">
			Find Alternatives to your Spotify Tracks & <span
				class="block md:inline-flex underline underline-offset-2 font-semibold"
				>Share with your Friends!</span>
		</h2>
	</div>
	<form
		class="flex flex-col sm:flex-row space-y-3.5 sm:space-y-0 items-center justify-center space-x-1 w-full max-w-3xl"
	>
		<input
			id="url"
			name="url"
			class="border p-2 w-full md:w-[400px] rounded-xl outline-pink-500"
			type="text"
			autocomplete="off"
			placeholder="Enter a Spotify song link"
		/>
		<button
			type="submit"
			class="group relative inline-flex min-w-40 h-10 items-center justify-center overflow-hidden rounded-full bg-pink-500 font-medium text-white transition"
		>
			<span class="flex px-6 items-center text-nowrap">Get Alternatives</span>
			<div
				class="absolute inset-0 flex h-full w-full justify-center [transform:skew(-12deg)_translateX(-100%)] group-hover:duration-1000 group-hover:[transform:skew(-12deg)_translateX(100%)]"
			>
				<div class="relative h-full w-8 bg-white/20"></div>
			</div>
		</button>
	</form>
	<Hero />
	<Cards />
</Layout>
